---
layout: poem
---
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<h2 style="float: left;">{{ page.poem_title }}</h2>

<div class="dropdown" style="float: right;">
    <span onclick="dropDown()" class="dropbtn fa fa-info-circle fa_custom fa-2x" style="float: right;"></span>
    <br>
    <div id="myDropdown" class="dropdown-content">
        Click on the word where the turn occurs, or, if the turn occurs between words, on the word immediately after the turn. For more detailed instructions, go to Instructions
    </div>
</div>

<h4 style="clear: left;"> by {{ page.poem_author}} </h4>

<div class="poems">{{page.poem_text | newline_to_br }}</div>

<!--{% for s in page.types_incorrect %}
<p>{{s}}</p>
{% endfor %}-->

<br>
<div id={{page.title}}></div>

<div class="modal fade" id="notturn-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{page.poem_title}} by {{page.poem_author}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Incorrect. Please try again.
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="turn-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{page.poem_title}} by {{page.poem_author}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Correct! Congratulations! Now, please identify the kind of turn at work in this poem
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="correct-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{page.poem_title}} by {{page.poem_author}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Correct! Congratulations!
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!--<div class="modal fade" id="myModal2" role="dialog">
</div>-->

<div id="correct_text" style="display: none;"> {{ page.correct_text }}</div>