<!-- This file contains layouts and functionality (including CSS and Javascript) of each poem -->
---
layout: default
title:  "example poem!"
date:   2018-12-16 17:47:16 -0600
---

<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .show {display: block;}
</style>

<script>

    /* Dropdown function source:
        https://www.w3schools.com/howto/howto_js_dropdown.asp
     */

    function dropDown() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    function doSubmit() {
        '{% assign ansID = page.title | append: "-answer" %}'
        var answer = document.getElementById('{{ ansID }}');

        if (answer.choice.value.toString() === '{{ page.type_correct }}') {
            //alert("correct");
            //var x = document.getElementById('{{ page.title }}');
            $('#correct-modal').modal('show');

            document.getElementById("correct_text").style.display = "block";
            document.getElementById('correct_text').scrollIntoView();

        }

        else {
            $('#notturn-modal').modal('show');
        }
    }

    function shuffleArray(array) {
        for (let i = array.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [array[i], array[j]] = [array[j], array[i]];
        }
    }
    function notTurnFunc() {
        $('#notturn-modal').modal('show');
    }

    function turnFunc() {
        $('#turn-modal').modal('show');

        var answer_choices = ["{{ page.types_incorrect[0] }}", "{{ page.types_incorrect[1] }}",
            "{{ page.types_incorrect[2]}}", "{{ page.type_correct }}"];
        shuffleArray(answer_choices);

        var text = document.getElementById('{{ page.title }}');
        '{% assign formID = page.title | append: "-answer" %}'
        text.innerHTML = '<h3> Correct! Congratulations! ' +
            'Now, please identify the kind of turn at work in this poem: </h3>';
        text.innerHTML += '<form id="{{formID}}" onsubmit="return false">'  +
            '<input type="radio" name="choice" value=' + answer_choices[0] + ' checked>' + answer_choices[0] + '<br>' +
            '<input type="radio" name="choice" value=' + answer_choices[1] + ' >' + answer_choices[1] + '<br>' +
            '<input type="radio" name="choice" value=' + answer_choices[2] + ' >' + answer_choices[2] + '<br>' +
            '<input type="radio" name="choice" value=' + answer_choices[3] + ' >' + answer_choices[3] +'<br><br>' +
            '<input type="submit" onclick="doSubmit()"><br><br>' +
            '</form> ';

        document.getElementById('{{page.title}}').scrollIntoView();

        //window.location.href = "/poem/{{page.title}}/#{{ page.title }}";

    }

    $(document).ready(function() {
        $(".poems")
            .contents()
            .map(function() {
                if (this.nodeType === 3) {
                    $(this).wrap("<span></span>")
                        .parent()
                        .click(notTurnFunc);
                }
                else if (this.nodeName === "TURN") {
                    $(this).click(turnFunc);
                }
                else {
                    $(this).click(notTurnFunc);
                }
            });
    });

    // enable closing modal window with ESC key
    $(document).keydown(function(event) {
        if (event.keyCode == 27) {
            $('#notturn-modal').modal('hide');
            $('#turn-modal').modal('hide');
        }
    });
</script>

{% assign x = "a" %}

{{ content }}

